:root { 
  --alto: #d9d9d9;
  --big-stone: #1c2541;
  --black: #000000;
  --ffffff-3-paints: #ffffff;
  --fiord: #3a506b;
  --gallery: #f0f0ee;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-xl: 25px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 40px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-light: "Inter-Light", Helvetica;
  --font-family-inter-lightitalic: "Inter-LightItalic", Helvetica;
  --font-family-inter-thinitalic: "Inter-ThinItalic", Helvetica;
}
.inter-bold-fiord-20px {
  color: var(--fiord);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-big-stone-36px {
  color: var(--big-stone);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-80px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-24px {
  color: var(--ffffff-3-paints);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
